@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "../assets/css/main.css";

@custom-variant dark (&:is(.dark *));

/* To Use Clamp it!: mobileFontSize, desktopFontSize, viewportMin, viewportMax, and baseFontSize. */

@theme {
    --font-*: initial;
    --color-neutral-*: initial;

    --font-heading: "Space Grotesk", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;

    /* ================= Primary ================= */
    --color-primary-50: #fffaf8;
    --color-primary-100: #ffe6d7;
    --color-primary-200: #ffae81;
    --color-primary-300: #ff752a;
    --color-primary-400: #ff5c02;
    --color-primary-500: #f05500;
    --color-primary-600: #c54600;
    --color-primary-700: #8d3200;
    --color-primary-800: #561e00;

    /* ================= Secondary ================= */
    --color-secondary-100: #ece4ff;
    --color-secondary-200: #c0a5ff;
    --color-secondary-300: #8c5aff;
    --color-secondary-400: #601bff;
    --color-secondary-500: #4d00ff;
    --color-secondary-600: #4600e7;
    --color-secondary-700: #3500ae;
    --color-secondary-800: #20006a;

    /* ================= Neutral ================= */
    --color-neutral-100: #ffffff;
    --color-neutral-200: #e8e8e8;
    --color-neutral-300: #d2d2d2;
    --color-neutral-400: #bbbbbb;
    --color-neutral-500: #a4a4a4;
    --color-neutral-600: #8e8e8e;
    --color-neutral-700: #777777;
    --color-neutral-800: #606060;
    --color-neutral-900: #4a4a4a;
    --color-neutral-1000: #222222;

    /* ================= Danger ================= */
    --color-danger-100: #fb3748;
    --color-danger-200: #d00416;

    /* ================= Warning ================= */
    --color-warning-100: #ffdb43;
    --color-warning-200: #ea9e06;

    /* ================= Success ================= */
    --color-success-100: #96e6a0;
    --color-success-200: #70bc85;
    --color-success-300: #44945c;
    --color-success-400: #22753b;

    /* ================= Info (Blue) ================= */
    --color-info-100: #dbeafe;
    --color-info-200: #3b82f6;

    /* ================= Typography Scale ================= */
    --text-2xs: 0.625rem;
    --text-2xs--line-height: calc(1.25 / 0.625);
    /* min: 11px, max: 12px */
    --text-xs: clamp(0.688rem, calc(0.625rem + 0.167vw), 0.75rem);
    --text-xs--line-height: clamp(0.917rem, calc(0.833rem + 0.167vw), 1rem);
    /* min: 12px, max: 14px */
    --text-sm: clamp(0.75rem, calc(0.625rem + 0.333vw), 0.875rem);
    --text-sm--line-height: clamp(1rem, calc(0.833rem + 0.333vw), 1.167rem);
    /* min: 14px, max: 16px */
    --text-base: clamp(0.875rem, calc(0.75rem + 0.333vw), 1rem);
    --text-base--line-height: clamp(1.167rem, calc(1rem + 0.333vw), 1.333rem);
    /* min: 16px, max: 18px */
    --text-lg: clamp(1rem, calc(0.875rem + 0.333vw), 1.125rem);
    --text-lg--line-height: clamp(1.333rem, calc(1.167rem + 0.333vw), 1.5rem);

    /* min: 16px, max: 20px */
    --text-xl: clamp(1rem, calc(0.75rem + 0.667vw), 1.25rem);
    --text-xl--line-height: clamp(1.333rem, calc(1rem + 0.667vw), 1.667rem);
    /* min: 18px, max: 24px */
    --text-2xl: clamp(1.125rem, calc(0.75rem + 1vw), 1.5rem);
    --text-2xl--line-height: clamp(1.5rem, calc(1rem + 1vw), 2rem);
    /* min: 20px, max: 30px */
    --text-3xl: clamp(1.25rem, calc(0.625rem + 1.667vw), 1.875rem);
    --text-3xl--line-height: clamp(1.25rem, calc(0.625rem + 1.667vw), 1.875rem);
    /* min: 24px, max: 36px */
    --text-4xl: clamp(1.5rem, calc(0.75rem + 2vw), 2.25rem);
    --text-4xl--line-height: clamp(2rem, calc(1rem + 2vw), 3rem);
    /* min: 30px, max: 38px */
    --text-5xl: clamp(1.875rem, calc(1.25rem + 1.667vw), 2.5rem);
    --text-5xl--line-height: clamp(2.5rem, calc(1.833rem + 1.333vw), 3.167rem);
    /* min: 36px, max: 48px */
    --text-6xl: clamp(2.25rem, calc(1.5rem + 2vw), 3rem);
    --text-6xl--line-height: clamp(2.667rem, calc(1.833rem + 1.667vw), 3.5rem);

    /* ================= Others ================= */
    --default-ring-color: --alpha(var(--color-secondary) / 10%);
}

@theme inline {
    --color-primary: var(--color-primary-400);

    --color-secondary: var(--color-secondary-500);

    --color-danger: var(--color-danger-100);
    --color-warning: var(--color-warning-100);
    --color-success: var(--color-success-300);
    --color-info: var(--color-info-200);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@utility glassy {
    @apply shadow-neutral-1000/10 text-foreground border border-neutral-100 bg-neutral-100/40 backdrop-blur-lg;
}

@utility glassy-chip {
    @apply glassy border-input text-muted-foreground inline-block rounded-full px-4 py-2 text-sm font-medium;
}

@utility base-transition {
    @apply transition-all duration-300;
}

:root {
    /* Sidebar background */
    --sidebar: oklch(99.4% 0 0);
    --sidebar-foreground: oklch(0.145 0 0);

    /* Primary (active item / emphasis) */
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);

    /* Hover / accent */
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);

    /* Borders & focus */
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(82.344% 0.00009 271.152);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
