h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: bold;
}

h1 {
    font-size: clamp(2.25rem, calc(1.5rem + 2vw), 3rem); /* min: 36px, max: 48px */
    line-height: clamp(2.667rem, calc(1.833rem + 1.667vw), 3.5rem); /* min: 32px, max: 42px */
}

h2 {
    font-size: clamp(1.875rem, calc(1.25rem + 1.667vw), 2.5rem); /* min: 30px, max: 40px */
    line-height: clamp(2.5rem, calc(1.833rem + 1.333vw), 3.167rem); /* min: 30px, max: 38px */
}

h3 {
    font-size: clamp(1.5rem, calc(0.75rem + 2vw), 2.25rem); /* min: 24px, max: 36px */
    line-height: clamp(2rem, calc(1rem + 2vw), 3rem); /* min: 24px, max: 36px */
}

h4 {
    font-size: clamp(1.25rem, calc(0.625rem + 1.667vw), 1.875rem); /* min: 20px, max: 30px */
    line-height: clamp(1.25rem, calc(0.625rem + 1.667vw), 1.875rem); /* min: 20px, max: 30px */
}

h5 {
    font-size: clamp(1.125rem, calc(0.75rem + 1vw), 1.5rem); /* min: 18px, max: 24px */
    line-height: clamp(1.5rem, calc(1rem + 1vw), 2rem); /* min: 18px, max: 24px */
}

h6 {
    font-size: clamp(1rem, calc(0.75rem + 0.667vw), 1.25rem); /* min: 16px, max: 20px */
    line-height: clamp(1.333rem, calc(1rem + 0.667vw), 1.667rem); /* min: 16px, max: 20px */
}
