@keyframes morph {
    0% {
        border-radius: 7% 93% 19% 81% / 89% 5% 95% 11%;
    }

    50% {
        border-radius: 3% 97% 26% 74% / 97% 5% 95% 3%;
    }

    100% {
        border-radius: 7% 93% 19% 81% / 89% 5% 95% 11%;
    }
}

.animate-morph {
    animation: morph 8s ease-in-out infinite;
}